<table class="table table-bordered attempt-details-table">
   <tr>
     <td>
       Date
     </td>
     <td>
      <%= attempt.created_at.strftime("%d-%m-%Y") %>
     </td>
   </tr>
   <tr>
     <td>
       Exam 
     </td>
     <td>
       <%= attempt.exam_title %>
     </td>
   </tr>
   <tr>
     <td>
       Subject
     </td>
     <td>
        <%= attempt.exam_subject %>
     </td>
   </tr>
   <tr>
     <td>
       Status
     </td>
     <td>
       <%= attempt.status %>
     </td>
   </tr>
</table>