@import 'constants';

.options-for-questions{
	display: none;
}

.attempt-listing-item{
	margin: 10px;
}

.container{
	padding-top: 10px;
}

.full-width{
	width: 100% !important;
}

body{
	background-color: $primary-bg;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $default-font-family;
}

nav{
	background-color: $nav-bg;
	font-family: $default-font-family;
}

.nav-tabs{
	border: none;
}

.nav-link, .nav-link:hover{
	color: $primary-text-color;
}

.pull-right{
	position: absolute;
	right: 0;
}

.white{
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 10px;
	background-color: white;
	font-weight: bold;
	padding: 20px;
	font-weight: bold;
	width: 95%;
}

.attempt-details-table{
	margin-top: -20px;
	td{
		padding: 2px;
	}
}

.correct-option-field{
	display: none;
}

.turbolinks-progress-bar {
  height: 2px;
  background-color: $primary-bg;
}

.link-primary{
	color: $primary-btn-color;
	font-style: italic;
}

.link-primary:hover{
	font-weight: bold;
	color: $primary-btn-color;
}
