.options-for-questions{
	display: none;
}

.attempt-listing-item{
	margin: 10px;
}


body{
	background-image: url(/bg8.jpg);
}

nav{
	background-color: white;
	opacity: 0.9;
}

.white{
	margin-top: 10px;
	background-color: white;
	opacity: 0.8;
	padding: 20px;
}

.card{
	margin: 5px;
	opacity: 0.8;
}

.jumbotron{
	opacity: 0.8;
	background-color: white;
	margin-top: 10px;
}

.student-searchbar{
	margin: 10px;
	border: 1px solid black;
}

.correct-option-field{
	display: none;
}
