.card{
	margin: 10px;
}

.options-for-questions{
	display: none;
}

.attempt-listing-item{
	margin: 10px;
}

.student-card{
	margin: 10px;
}

body{
	background-image: url(/bg2.jpg);
}

nav{
	background-color: white;
}

.white{
	background-color: white;
	opacity: 0.7;
	padding: 20px;
}

.card{
	opacity: 0.8;
}