<ul class="list-group">
	<div class="row">
		<% @attempts.each do |attempt| %>
			<div class="col-lg-6 cold-sm-12 col-xs-12">
				<li class="list-group-item d-flex justify-content-between align-items-center attempt-listing-item">
					<%= link_to attempt.exam_title, attempt_path(attempt) %>
					<span class="badge badge-info badge-pill">
						<%= attempt.user.email %> 
					</span>
					<span class="badge badge-dark badge-pill">
						<%= attempt.created_at.strftime('%d-%m-%Y') %> 
					</span>
					<span class="badge badge-warning badge-pill">
						<%= attempt.status %>
					</span>
					
				</li>
			</div>
		<% end %>
	</div>
</ul>